

p{
	font-family: Courier;
	font-style: normal;


}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 1.0;
    height: 50px;
    padding: 10px;
	display: flex;
	justify-content:left;
	
    
 }

.button button{
	background:none;
	color: #24a3bf;
	border:white;
	font-size: 20px;
	justify-content: center;
   	font-family:"Secular One", sans-serif;
	margin-left: 90px;

}
h1{
	color: #fbfbfb;
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	margin: 0 0 50px 0;
}

p{
	text-align: center;

}

#principal {

	background-image: url('dog.jpg');
	clear:both;
	background-size: 100%;
	min-height: 833px;
	width: 1439px;
	padding: 100px 0 0;
	
}

.logo {
	float: left;
	
}


#menu{
	float: right;
    
}
#divBusca{
	background-color:#fbfbfb;
	border:none;
	border-radius:10px;
	width:250px;
	height: 30px;
  }
  
  #txtBusca{
	float:center;
	background-color:transparent;
	padding-left:2px;
	font-style:"Secular One";
	font-size:18px;
	border:none;
	height:18px;
	width:200px;
  }
#menu a{
    
    margin-top: 50px;
	padding: 100px;
	text-decoration: none;
	color: #8FCBDF;
    width: 0px;
    height: 0px;
    	

}

#sticky a:hover{

	background-color: #f27405;
	
}